#AboutDiv{
    height: 100vh;
}

#AboutGrid{
    margin: 0;
}

#AboutGridColumnOne{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem;
}

#Description{
    font-size: 1.75rem;
}

#OnlinePresenceContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}

#GithubLogo{
    height: 100%;
}

#LinkedInLogo{
    height: 100%;
}

#AboutGridColumnTwo{
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
    padding: 0rem;
}

#ProfileImage{
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
}