#HomeContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#HomeDescriptionButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HomeDescription {
    font-size: 2rem;
    text-align: center;
}

#HomeButton {
    height: 4rem;
    width: 21rem;   
}

#ImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}