.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-description-container {
  display: flex;
  align-items: center;
  margin: 0 15%;
}

.azali-photo {
  width: 25%;
}

.about-description {
  width: 35%;
  margin-left: 15px;
}
