.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.azali-logo-pyramid {
  width: 50%;
}

.menu-table {
  border-spacing: 10rem 1rem;
}
.menu-button {
  height: 3rem;
  width: 10rem;
  border: 3px solid black;
  border-radius: 20px;

  text-align: center;
  background: white;
  outline: none;
}
