.single-container {
  width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
}

.projects-header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.group-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}