.projects-container {
  margin: 5%;
}

.group-container {
  margin: 3% 15%;
}

.single-container {
  width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  border: black solid 3px;
  border-radius: 1rem;
}

.projects-header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.group-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
