@font-face{
    font-family: "ostrich";
    src: url("ostrich.ttf");

}

/*Id Specified*/

#header{
    font-family: ostrich;
    font-size: 60px;

    display: flex;
    justify-content: center;
    align-content: center;

    border-top: solid 10px aqua;
    border-bottom: solid 10px aqua;
}

#intro{

    display: flex;
    justify-content: center;
    align-content: space-between;
}

#intro_p{
    width: 200px;
}

div{
    margin: 10px;
}
