@font-face{
    font-family: "ostrich";
    src: url("ostrich.ttf");

}

@font-face{
    font-family: "opensans";
    src: url("opensans.ttf");

}

/*General*/

body {

    background-image: url("../pictures/los_angeles.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: opensans;

}

article{

    display: flex;
    flex-direction: column;
    padding: 2em;

    background-color: rgba(248, 131, 121, 0.85);
    margin-left: 10em;
    margin-right: 10em;

    border-radius: 5px;
    border: 3px solid grey;

}

/*Class Specified*/

/*Id Specified*/

#header{
    font-family: ostrich;
    font-size: 60px;
    text-align: center;

}
